<div class="{% if section.settings.include_margins %}page-width{% endif %}">
  {% if section.settings.display_id %}
    <copy-button class="section-id-btn button" data-content="#shopify-section-{{ section.id }}" data-success="false">
      <span class="copy-text">Klik om sectie ID te kopiëren</span>
      <span class="copy-success">ID succesvol gekopieerd!</span>
    </copy-button>
  {% endif %}
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "display_id",
      "label": "Toon Sectie ID",
      "info": "ID wordt gebruikt in de sectiegroep sectie om 2 secties samen te voegen. ID kan ook binnen elke knoplink worden geplaatst en de knop zal naar deze sectie scrollen.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "include_margins",
      "default": true,
      "label": "t:sections.apps.settings.include_margins.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}
